.home{
    width: 100%;
    max-width: 60vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid black;
}